* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

html{
    scroll-behavior: smooth;
}


a{
  color: black;
  font-size: 1.5em;
}

h2{
  font-size: 2em;

  font-weight: 700;
}

h3{
  font-size: 1.8em;
}

h4{
  font-size: 1.6em;
}

p{
  font-size: 1.2em;
  text-align: justify;
}

input, select, textarea{
  outline: none;
}

img{
  vertical-align: middle;
}
#cont-slider{
    height: 100%;
}
#slider {
  margin: 0;
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    min-height: 500px;
}
#slider li {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    z-index: -1;
    opacity: 0;
}

.flechas{
  position: absolute;
  top: 90%;
  left: 5%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  height: fit-content;
}

.puntos{
  display: none;
}


#arrowP, #arrowN{
    font-size: 30pt;
    color: #b7410e9c;
    /* color: grey; */
    width: fit-content;
    cursor: pointer;
    z-index: 2; 
    margin: 0;
}

.content_slider{
    padding: 15px 30px;
    color: #FFF;
    width: 100%;
    height: 100%;
}
.content_slider div{
    text-align: center;
}
.content_slider h2{
    font-family: 'Nunito';
    font-size: 30pt;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.content_slider h3{
  font-size: 1.5rem;
}
.content_slider p {
    font-size: 1.5rem;
    font-family: 'Nunito';
    color: #FFF;
    margin-bottom: 20px;
}
#slider li .content_slider{
    background: rgba(0, 0, 0, 0.50);
    padding: 10px 125px;
}
.content_slider{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnSlider{
    color: #FFF;
    font-size: 15pt;
    font-family: 'arial';
    letter-spacing: 1px;
    padding: 10px 50px;
    border: 1px solid #CCC;
    background: rgba(13, 13, 13, 0.55);
    border-radius: 31px;
    text-decoration: none;
    transition: .5s all;
}
.btnSlider:hover{
    background: #111;
    border: 1px solid #111;
}
.listslider {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 5%;
    list-style: none;
    z-index: 2;
}
.listslider li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin: 0 5px;
}
.listslider li a {
    background: #CCC;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: block;
}
.item-select-slid {
    background: #FFF  !important;
}

#Libro h2{
  margin: 0;
  height: fit-content;

}

#Libro h3{
  margin-bottom: 30px;
  margin-left: 60%;
  width: fit-content;
}

#cont-slider ul{
  height: 100vh;
  min-height: 100%;
}


@media screen and (max-width: 460px){

  .content_slider, #cont-slider{
    height: 100vh;
  }

	.content_slider h2 {
	    font-size: 15pt !important;
	}
	.content_slider p {
	    font-size: 12pt !important;
	}
	#container-slider .arrowPrev, #container-slider .arrowNext{
		font-size: 20pt;
	}
	#container-slider .arrowPrev{
		left: 15px;
	}
	#container-slider .arrowNext{
		right: 15px !important;
	}
	#slider{
		height: 400px;
		min-height: 400px;
	}
	#slider li .content_slider{
		padding: 10px 35px;
	}
	.btnSlider{
		padding: 10px 30px;
    	font-size: 10pt;
	}

  #Libro h3{
    font-size: 10pt;
  }
}

.invisible{
  position: initial;
  height: 106px;
  z-index: 0;
  width: 100%;
  margin: 0 auto;
}

nav.navbar.navbar-expand-lg.navbar-dark{
  position: fixed;
  width: 100%;
  min-height: 110px;
  z-index: 4;
  background-color: #1b5583;
  padding: 0;
  transition: 0.3s;
}

a.nav-link.active{
  /* border: 2px red solid; */
  height: fit-content;
  margin: 0;
  padding: 10px;
}

a.navbar-brand, button.navbar-toggler{
  margin: 0;
}

span.navbar-toggler-icon{
  margin: 0;
}


/* Scrollbar*/

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 5px #0000002a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ed9121;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b7410E;
}


/* HEADER */

  /* BODY */

body{
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Nunito', sans-serif;
}


/* EMDR */

.EMDR {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-area: 1 / 1 / 2 / 3;
  align-items: center;
  justify-items: center;

}

.EMDR h2{
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
  justify-self: center;
  height: fit-content;
}

.EMDR p {
  font-size: 1.2em;
  padding: 0px 20px 0px 20px;
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
  justify-self: center;
}

#vid1 {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  justify-self: center;
}

.EMDR ul {
  grid-row: 3 / span 1;
  grid-column: 3 / span 1;
  justify-self: center;
  text-align: start;
  list-style-type: none;
}

#vid2 {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
}

.EMDR li {
  padding: 10px;
}


/*EQUIPO*/

.Equipo{
  height: 100%;
  width: 100%;
  display: grid;
  row-gap: 5%;
  grid-area: 1 / 1 / 4 / 3;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr 2fr 3fr 1fr;
  /* background-image: url("fondoEquipo.png"); */
  background-color: #E1DBD8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Equipo h2{
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
  justify-self: center;
  margin-top: 8vh;
  height: fit-content;
}

.Equipo p {
  font-size: 1.2em;
  padding: 0px 20px 0px 20px;
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
  justify-self: center;
  text-align: center;
}

.Equipo #eq1 {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  justify-self: center;
  justify-items: center;
  align-items: center;
}

.Equipo #eq2 {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
  justify-items: center;
  align-items: center;
}

.Equipo #eq3 {
  grid-row: 3 / span 1;
  grid-column: 3 / span 1;
  justify-self: center;
  justify-items: center;
  align-items: center;
}

.Equipo #lnk1{
  grid-row: 4 / span 1;
  grid-column: 1 / span 1;
  justify-self: center;
}

.Equipo #lnk2{
  grid-row: 4 / span 1;
  grid-column: 3 / span 1;
  justify-self: center;
}

.Equipo h3{
  text-align: center;
  font-size: 1.7em;
}

.Equipo img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  height: 60%;
  max-height: 350px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.Equipo span{
  width: 100%;
  height: 100%;
}

.Equipo a{
  font-size: 1.5em;
}

/*FORMACION*/

.Formacion{
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-area: 1 / 1 / 6 / 2;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr 1r 2fr 1fr 2fr 1fr;
}

.Formacion img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 10%;
  margin-bottom: 10px;
}

.Formacion h2{
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 8vh;
  height: fit-content;
}

.Formacion p{
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
  justify-self: center;
  height: fit-content;
  padding: 25px;
}

.Formacion #img1{
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  justify-self: center;
}
.Formacion #img2 {
  grid-row: 5 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
}

.Formacion #titulo1{
  grid-row: 4 / span 1;
  grid-column: 1 / span 1;
  justify-self: center;
  align-self: center;
}

.Formacion #titulo2{
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
  align-self: center;
}

.Formacion #lista1{
  grid-row: 5 / span 1;
  grid-column: 1 / span 1;
  justify-self: center;
  align-self: center;
}

.Formacion #lista2{
  grid-row: 4 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
  align-self: center;
  text-align: start;
}

.Formacion #link1 {
  grid-row: 6 / span 1;
  grid-column: 1 / span 1;
  justify-self: center;
  align-self: center;
  margin: 6vh;
}

.Formacion #link2 {
  grid-row: 6 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
  align-self: center;
  margin: 6vh;
}

.Formacion ul a {
  text-decoration: none;
}

/* TRATAMIENTO */

.Tratamiento{
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-image: url("test.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Tratamiento h2 {
  height: fit-content;
}


.Tratamiento p{
  padding-left: 10%;
  padding-right: 10%;
  text-align: start;
}

.Tratamiento .CdA{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Tratamiento .CdA textarea{
  width: 90%;
}

/* .Tratamiento .CdA p{
  font-size: 1rem;
} */

#BtnCdA{
  margin: 20px;

  background-color: #4682b4;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 12px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  opacity: 0.8;
  transition: 0.3s;
  display: inline-block;
  cursor: pointer;
}

#BtnCdA:hover {
  opacity: 1;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.61);
}

/* PREGUNTAS FRECUENTES */

.FAQ {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
}

.FAQ span{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 30px;
}

.FAQ h2 {
  margin-top: 40px;
  margin-bottom: 10px;
  height: fit-content;
}

.FAQ span, h2 {
  height: 17vh;
}

.FAQ span h3{
  margin-bottom: 5px;
  color: #1b5583;
}

#faq1, #faq3, #faq5{
  height: fit-content;
}

#faq2, #faq4 {
background-color: #E1DBD8;
  height: fit-content;
}

/* CONTACTO */

.Contacto {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: grid;
  grid-area: 1/1/4/3;
  grid-template-rows: 1fr 1fr 1fr 2fr;
  grid-template-columns: 1fr 1fr 2fr;
  /* background-color: #fbceb1; */
  background-image: url("test3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Contacto label {
  font-size: 1.5em;
}

.Contacto h2 {
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
  justify-self: center;
  margin-top: 7vh;
  height: fit-content;
  align-items: center;
}

.Contacto span{
  display: flex;
  flex-direction: column;
}

.Contacto input, .Contacto select, .Contacto textarea {
  border: #1b5583 solid 2px;
  border-radius: 5px;
  height: 2.5em;
  width: 80%;
  font-size: 1.5em;
  font-family: 'Nunito', sans-serif;
  justify-content: center;
  align-content: center;
}

.Contacto textarea{
  resize: none;
  width: 100%;
  height: 50%;
}

.Contacto form{

  grid-row: 2 / span 3;
  grid-column: 1 / span 2;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 1fr;
}

.Contacto label, input, select{
  justify-self: center;
  align-self: center;
}

#inp1{
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}

#inp2{
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}

#inp3{
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}

#inp4 {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
}

#inp5{
  grid-row: 3 / span 1;
  grid-column: 1 / span 2;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#inp5 input {
  height: 50%;
  width: 100%;
}

.Contacto button{
  grid-row: 4 / span 1;
  grid-column: 1 / span 2;
  justify-self: center;
  height: fit-content;
  width: fit-content;
  background-color: #FF8F00;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 12px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  opacity: 0.8;
  transition: 0.3s;
  display: inline-block;
  cursor: pointer;
}

.Contacto button:hover {
  opacity: 1;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.61);
}

.Contacto iframe{
  min-height: 500px;
  width: 90%;
}

#mapas{
  width: 100%;
  height: 100%;
  grid-row: 2 / span 4;
  grid-column: 3 / span 1;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

#mapas h3{
  font-family: 'Comfortaa', cursive;
  font-size: 1.4em;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

#direccion{
  /* background-color: #FF8F00; */
  border-radius: 10px;
  padding: 5px;
}

#tituloMapa{
  justify-content: center;
  font-family: 'Comfortaa', cursive;
  margin: 10px;
}

#wpp{
  width: 100px;
  padding: 0;
}

.Contacto a {
  justify-self: center;
  width: 10%;
}

/* FOOTER */

footer{
  clear: both;
  position: relative;
  background-color: #3b3c36;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  padding: 2vh;
  color: white;
}

footer img{
  border-radius: 5px;
  height: 40px;
}

footer p{
  font-size: 1em;
}

#by{
 display: flex;
 flex-direction: column;
 align-items: center;
}


/* EQUIPO DETALLADO */

.tituloDetalle{
  margin-top: 10vh;
  margin-bottom: 5vh;
  width: 100%;
}
.tituloDetalle h2{
  height: fit-content;
  text-align: center;
}

.equipoDetallado{
  background: linear-gradient(180deg, white, #fbceb1);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
}

.equipoDetallado span{
  width: 33.3%;
  margin-bottom: 5%;
}

.equipoDetallado span p{
  text-align:center;
}

.equipoDetallado h2{
  justify-self: center;
  margin-top: 8vh;
  height: fit-content;
}

.equipoDetallado h3{
  text-align: center;
  font-size: 1.7em;
}

.equipoDetallado img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 50%;
  margin-bottom: 10px;
}


.equipoDetallado a{
  font-size: 1.5em;
}

.asociaciones{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: linear-gradient(0deg, white, #fbceb1);
}

.asociaciones img{
  height: 100px;
  width: 100px;
}

.asociaciones h2{
  text-align: center;
  height: fit-content;
}

.asociaciones div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.EMDRfull{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.EMDRfull p{
  padding: 50px;
}

.RyV, .MP, .EvT, .FS, .In{
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.MP, .FS {
  background-color: #E1DBD8;
}

.Formacionfull{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.Formacionfull p {
  text-align: start;
}

.Formacionfull p{
  padding: 20px;
}

.EntrEMDR{
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-area: 1 / 1 / 4 / 2;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  align-items: center;
  justify-items: center;
}

.EntrEMDR h3{
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  justify-self: center;
}

.EntrEMDR p{
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
  justify-self: center;
}

.EntrEMDR .Cp1{
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  justify-self: justify;
  align-self: baseline;
}

.EntrEMDR ul{
  margin-left: 25%;
}

.EntrEMDR li {
  padding: 5px;
}

.EntrEMDR ul, li {
  width: fit-content;
}


.EntrEMDR .Cp2{
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
  align-self: baseline;
  text-align: justify;
}

.EntrEMDR button{
  grid-row: 4 / span 1;
  grid-column: 1 / span 2;
  justify-self: center;
}

.SuperV, .SuperVA, .FormTyE, .FormT {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.SuperV, .FormTyE{
  background-color: #E1DBD8;
  }

#textEntr{
  text-align: start !important;
}

input:not(.inputContacto), select:not(.inputContacto), textarea:not(.inputContacto){
  padding: 5px;
  border: 2px solid #1b5583;
  border-radius: 4px;
}

#modalEMDR input:focus{
  border: 2px solid #b7410E;
}

  



@media screen and (max-width: 768px)  {

  body{
    min-width: fit-content;
  }

  header nav{
    display: none;
  }
  .slideshow-container{
    background-color: #1b5583;
  }

  .numbertext{
    color: white;
  }

  /* PAGINA */

  .EMDR, .Equipo, .Formacion, .Tratamiento, .FAQ, .Contacto, Footer{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: fit-content;
    text-align: center;
  }

  .EMDR h2, p, iframe, ul{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  .EMDR iframe{
    min-height: 300px;
  }

  .EMDR h2, p, span, a{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  .Formacion h2, h3, ul, img, a{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
  .Formacion img{
    width: 90%;
  }

  .Tratamiento h2, h3, p, button{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  #cb{
    padding-left: 25%;
  }

  .FAQ span{
    flex-direction: column;
  }

  .FAQ span h3{
    align-self: center;
  }

  .Contacto h2, span, button {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  .Contacto form{
    height: 100%;
  }

  #map{
    height: 500px;
    min-width: 100px;
    width: 100%;
    max-width: 700px;
  }

  footer img{
    height: 100px;
    width: 100px;
  }

  /* Equipo Detalle */

  .equipoDetallado span{
    width: 100%;
    margin-bottom: 5%;
  }

  .equipoDetallado span p{
    padding: 10px;
  }

  .Contacto button{
    opacity: 1;
  }

  #tituloMapa{
    color: honeydew;
  }

  .Contacto form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Contacto form select{
    min-width: 232.8px;
  }
  .EntrEMDR{
    display: flex;
    flex-direction: column;
  }

  .EntrEMDR .Cp1, .EntrEMDR .Cp2{
    padding: 5%;
  }
  .EntrEMDR ul{
    margin: 0;
  }
}










