* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;

}

html{
    scroll-behavior: smooth;
}

a{
  color: black;
  font-size: 1.5em;
}

h2{
  font-size: 2em;
}

h3{
  font-size: 1.8em;
}

h4{
  font-size: 1.6em;
}

p{
  font-size: 1.2em;
}

/* Scrollbar*/

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 5px #0000002a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2e5090;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b7410E;
}


/* HEADER */

header {
    width: 100%;
    height: 7vh;
    font-family: 'Comfortaa', cursive;
}

header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #FF8F00;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
}

header li {
    display: inline;
    float: left;
    width: 100%;
}

header li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1em;
}

header li a:hover{
    background-color: #4682b4;
}

/* SLIDESHOW */


.slideshow-container {
    height: 70vh;
    width: max-content;
    position: relative;
    margin: auto;
    overflow: hidden;
  }
  
  /* Hide the images by default */
  .mySlides .text{
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #4682b4;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #FF9F00;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  

  /* BODY */

body{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Nunito', sans-serif;
}


/* EMDR */

.EMDR {
  height: 100vh;
  display: grid;
  grid-area: 1 / 1 / 2 / 2;
  align-items: center;
  justify-items: center;
}

.EMDR h2{
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  justify-self: center;
  height: fit-content;
}

.EMDR p {

  font-size: 1.2em;
  padding: 0px 20px 0px 20px;
  
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
  
  justify-self: center;
}

.EMDR iframe {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  justify-self: center;
}

.EMDR ul {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
}

.EMDR li {
  padding: 10px;
}


/*EQUIPO*/

.Equipo{
  height: 100vh;
  background-color: #FF9F00;
  display: grid;

  grid-area: 1 / 1 / 4 / 3;
  justify-items: center;
}

.Equipo h2{
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
  justify-self: center;
  margin-top: 8vh;
  height: fit-content;
}

.Equipo p {

  font-size: 1.2em;
  padding: 0px 20px 0px 20px;
  
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
  justify-self: center;
}


.Equipo #eq1 {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  justify-self: center;

  justify-items: center;
  align-items: center;
}

.Equipo #eq2 {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
}

.Equipo #eq3 {
  grid-row: 3 / span 1;
  grid-column: 3 / span 1;
  justify-self: center;
}



.Equipo #lnk1{
  grid-row: 4 / span 1;
  grid-column: 1 / span 1;
  justify-self: center;
}

.Equipo #lnk2{
  grid-row: 4 / span 1;
  grid-column: 3 / span 1;
  justify-self: center;
}


.Equipo h3{
  text-align: center;
  font-size: 1.7em;
}

.Equipo img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 50%;
  margin-bottom: 10px;
}

.Equipo a{
  font-size: 1.5em;
}

/*FORMACION*/

.Formacion{
  height: 100vh;
  display: grid;
  grid-area: 1 / 1 / 5 / 2;
  justify-items: center;
  align-items: center;

}

.Formacion img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 10%;
  margin-bottom: 10px;
}

.Formacion h2{
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 8vh;
  height: fit-content;
}

.Formacion #img1{
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  justify-self: center;
}
.Formacion #img2 {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
}

.Formacion #titulo1{
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  justify-self: center;
  align-self: center;
}

.Formacion #titulo2{
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
  align-self: center;
}

.Formacion #lista1{
  grid-row: 4 / span 1;
  grid-column: 1 / span 1;
  justify-self: center;
  align-self: center;
}

.Formacion #lista2{
  grid-row: 4 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
  align-self: center;
}

.Formacion #link1 {
  grid-row: 5 / span 1;
  grid-column: 1 / span 1;
  justify-self: center;
  align-self: center;
}

.Formacion #link2 {
  grid-row: 5 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
  align-self: center;
}

.Formacion ul a {
  text-decoration: none;
}

/* TRATAMIENTO */

.Tratamiento{
  background-color: #FF8F00;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Tratamiento h2 {
  height: fit-content;
}

.Tratamiento h3 {
  color: #000080;
}

.Tratamiento button{
  background-color: #4682b4;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 12px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  opacity: 0.8;
  transition: 0.3s;
  display: inline-block;
  cursor: pointer;
}

.Tratamiento button:hover {
  opacity: 1;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.61);
}

/* PREGUNTAS FRECUENTES */

.FAQ {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  
}

.FAQ span{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 30px;
}

.FAQ h2 {
  margin-top: 40px;
  margin-bottom: 10px;
  height: fit-content;
}

.FAQ span, h2 {
  height: 17vh;
}

.FAQ span h3{
  margin-bottom: 5px;
  color: #000080;
}

#faq1, #faq3, #faq5{
  height: fit-content;
}

#faq2, #faq4 {
  background-color: #FF8F00;
  height: fit-content;
}

/* CONTACTO */

.Contacto {
  height: 100vh;
  background-color: #4682b4;
  display: grid;
  grid-area: 1/1/5/3;
  row-gap: 5%;
}

.Contacto label {
  font-size: 1.5em;
}

.Contacto h2 {
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
  justify-self: center;
  margin-top: 7vh;
  height: fit-content;
  align-items: center;
}

.Contacto span{
  display: flex;
  flex-direction: column;
}

.Contacto input, select {
  border: #FF8F00 solid 2px;
  border-radius: 5px;
  width: 30rem;
  height: 3rem;
  font-size: 1.5em;
  font-family: 'Nunito', sans-serif;
}

#inp1{
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  justify-self: center;
}

#inp2{
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
}

#inp3{
  grid-row: 2 / span 1;
  grid-column: 3 / span 1;
  justify-self: center;
}

#inp4 {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  justify-self: center;
  align-self: center;
}

#inp5{
  grid-row: 3 / span 1;
  grid-column: 2 / span 2;
  justify-self: center;
}

#inp5 input {
  width: 40rem;
  height: 100%;
}

.Contacto button{
  grid-row: 4 / span 1;
  grid-column: 1 / span 3;
  justify-self: center;
  align-self: center;
  height: fit-content;
  width: fit-content;
  background-color: #FF8F00;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 12px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  opacity: 0.8;
  transition: 0.3s;
  display: inline-block;
  cursor: pointer;
}

.Contacto button:hover {
  opacity: 1;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.61);
}

#map{
  height: 300px;
  width: 600px;
}

#mapas{
  grid-row: 5 / span 1;
  grid-column: 1 / span 3;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mapas h3{
  font-family: 'Comfortaa', cursive;
  font-size: 1.4em;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

#direccion{
  background-color: #FF8F00;
  border-radius: 10px;
  padding: 5px;
}

#tituloMapa{
  width: fit-content;
  justify-content: center;
}


/* EQUIPO DETALLADO */

.equipoFull{
  background-color: #4682b4;
}

.tituloDetalle{
  width: 100%;
  background-color: #4682b4;
}
.tituloDetalle h2{
  height: fit-content;
  text-align: center;
}

.equipoDetallado{
  background-color: #4682b4;
  display: flex;
  flex-direction: row;
  justify-items: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.equipoDetallado h2{
  justify-self: center;
  margin-top: 8vh;
  height: fit-content;
}

.equipoDetallado h3{
  text-align: center;
  font-size: 1.7em;
}

.equipoDetallado img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 50%;
  margin-bottom: 10px;
}

.equipoDetallado a{
  font-size: 1.5em;
}

.asociaciones{
  height: 100vh;
  background-color: #FF9F00;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.asociaciones img{
  /* height: 10%;
  width: 10%; */
  height: 100px;
  width: 100px;
}

.asociaciones h2{
  text-align: center;
  height: fit-content;
}

.asociaciones div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



/* FOOTER */

footer{
  background-color: #FF8F00;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  padding: 2vh;
  
}

footer img{
  border-radius: 5px;
  height: 60px;
}

footer p{
  font-size: 1em;
}

#by{
 display: flex;
 flex-direction: column;
 align-items: center;
}











